@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RS1_Ispit_asp.net_core.Wm.TakmicenjePrikazWM



<div class="row">


    <div class="col-md-5">


		<form id="forma" asp-action="Filtriraj" asp-controller="Takmicenje" ajax-poziv="da" ajax-rezultat="Ajax">

			<div class="form-group">

				<label class="control-label" asp-for="SkolaId">Skola:</label>
				<select id="skola" class="form-control" asp-for="SkolaId" asp-items="@Model.Listaskola"></select>
				<span class="text-danger" asp-validation-for="SkolaId"></span>

			</div>

			<div class="form-group">

				<label class="control-label" asp-for="Predmetnaziv">Predmet</label>
				<select class="form-control" asp-for="Predmetnaziv" asp-items="@Model.ListaPredmeta"></select>
				<span class="text-danger" asp-validation-for="Predmetnaziv"></span>

			</div>

			<div class="form-group">

			    <input  value="filtriraj" type="submit" />

			</div>











		</form>














    </div>

















</div>



<div id="Ajax">



</div>

<a id="dodaj" class="btn btn-default">Dodaj takmicenje </a>


<script>

	function dodajevente()
	{
		$("#skola").on("change", function () {

			updatehre();




		})






	}


	function updatehre()
	{
		var skolaid = $("#skola").val();

		var url = "/Takmicenje/DodajTakmicenje?Id=" + skolaid;

		$("#dodaj").attr("href",url)

	}



	$(document).ready(function () {

		var forma = $("#forma");
		var url = "/Takmicenje/Filtriraj"

		$.ajax({

			data: forma.serialize(),
			url: url,
			success: function(data)
			{

				$("#Ajax").html(data);


			}





		})
		dodajevente();
		updatehre();









	})













</script>





